@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    outline: 0 none;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
    display: block;
}

a, a:hover, button, button:hover, .anime, .small_btn, .btn:hover .small_btn {
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

button {
    cursor: pointer;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.main_flex {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap
}

.main_flex__nowrap {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap
}

.flex__jcontent_between {
    justify-content: space-between;
    -webkit-justify-content: space-between
}

.flex__jcontent_start {
    justify-content: flex-start;
    -webkit-justify-content: flex-start
}

.flex__jcontent_end {
    justify-content: flex-end;
    -webkit-justify-content: flex-end
}

.flex__jcontent_center {
    justify-content: center;
    -webkit-justify-content: center
}

.flex__jcontent_around {
    justify-content: space-around;
    -webkit-justify-content: space-around
}

.flex__auto {
    flex: auto;
    -webkit-flex: auto;
    -ms-flex: auto
}

.flex__align-items_start {
    align-items: flex-start;
    -webkit-align-items: flex-start
}

.flex__align-items_end {
    align-items: flex-end;
    -webkit-align-items: flex-end
}

.flex__align-items_baseline {
    align-items: baseline;
    -webkit-align-items: baseline
}

.flex__align-items_stretch {
    align-items: stretch;
    -webkit-align-items: stretch
}

.flex__align-items_center {
    align-items: center;
    -webkit-align-items: center
}

.flex__align-content_flex-start {
    align-content: flex-start;
    -webkit-align-content: flex-start
}

.flex__align-content_flex-end {
    align-content: flex-end;
    -webkit-align-content: flex-end
}

.flex__align-content_space-between {
    align-content: space-between;
    -webkit-align-content: space-between
}

.flex__align-content_center {
    align-content: center;
    -webkit-align-content: center
}

.flex__align-content_space-around {
    align-content: space-around;
    -webkit-align-content: space-around
}

.flex__align-content_stretch {
    align-content: stretch;
    -webkit-align-content: stretch
}

.flex__flex-grow_01 {
    flex-grow: 1;
    -webkit-flex-grow: 1
}

.flex__flex-grow_02 {
    flex-grow: 2;
    -webkit-flex-grow: 2
}

.flex__flex-grow_03 {
    flex-grow: 3;
    -webkit-flex-grow: 3
}

.flex__flex-grow_04 {
    flex-grow: 4;
    -webkit-flex-grow: 4
}

.w5 {
    width: 5%;
    max-width: 5%
}

.w10 {
    width: 10%;
    max-width: 10%
}

.w15 {
    width: 15%;
    max-width: 15%
}

.w20 {
    width: 20%;
    max-width: 20%
}

.w25 {
    width: 25%;
    max-width: 25%
}

.w30 {
    width: 30%;
    max-width: 30%
}

.w35 {
    width: 35%;
    max-width: 35%
}

.w40 {
    width: 40%;
    max-width: 40%
}

.w45 {
    width: 45%;
    max-width: 45%
}

.w50 {
    width: 50%;
    max-width: 50%
}

.w55 {
    width: 55%;
    max-width: 55%
}

.w60 {
    width: 30%;
    max-width: 60%
}

.w65 {
    width: 65%;
    max-width: 65%
}

.w70 {
    width: 70%;
    max-width: 70%
}

.w75 {
    width: 75%;
    max-width: 75%
}

.w80 {
    width: 80%;
    max-width: 80%
}

.w85 {
    width: 85%;
    max-width: 85%
}

.w90 {
    width: 90%;
    max-width: 90%
}

.w95 {
    width: 95%;
    max-width: 95%
}

.w100 {
    width: 100%;
    max-width: 100%
}

.main_flex__nowrap_reverse {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row-reverse nowrap;
    flex-flow: row-reverse nowrap
}

body {
    background-color: #eaeaea;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    font-size: 1.14vmax;
    line-height: 1.33vmax;
}

.wrap {
    width: 81.66vw;
    margin: 0 auto;
    position: relative;
}

.dark {
    background-color: #2e2e30;
    color: #fff;
}

.grey {
    background-color: #838d8f;
    color: #fff;
}

#top {
    width: 100%;
    height: 9.16vmax;
}

#top .wrap,
#menu .wrap {
    height: inherit;
}

div.btn {
    border-radius: 0.33vw;
    padding: 0.66vw 1.32vw;
    overflow: hidden;
    cursor: pointer;
}

.sign {
    border: 1px solid #ededed;
    color: #fff;
    font-size: 0.83vmax;
}

.sign:hover {
    background-color: #ededed;
    color: #2e2e30;
}

.logn {
    border: 1px solid #ededed;
    color: #fff;
    font-size: 0.83vmax;
    margin-left: 0.66vw;
}

.logn:hover {
    background-color: #ededed;
    color: #2e2e30;
}

.language_switcher{
    display: inline-block;
}

.language {
    font-family: "PT Serif";
    color: #aaaaaa;
}

.language span {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    color: #fff;
    cursor: pointer;
    margin-left: 1.66vmax;
    font-size: 0.83vmax;
}

#cart {
    border: 1px solid #86ce8e;
    font-size: 0.83vmax;
    color: #86ce8e;
}

#cart:hover {
    background-color: #86ce8e;
    color: #fff;
}

#menu {
    background-color: #fff;
    width: 100%;
    height: 4.16vmax;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
}

#main_nav,
#main_nav li,
#main_nav a {
    display: flex;
    flex-flow: row nowrap;
    height: inherit;
    align-items: center;
    justify-content: center;
}

#main_nav a {
    padding: 0 1.5vmax;
    color: #3c3d41;
    text-transform: uppercase;
    font-weight: bold;
}

#main_nav a:hover {
    background-color: #3c3d41;
    color: #fff;
}

#search_button {
    color: #3c3d41;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: calc(50% - 0.75vmax)
}

#banner {
    width: 100%;
    height: 16.66vmax;
    overflow: hidden;
    background-color: #3c3d41;
}

main {
    padding-top: 4.16vmax;
    padding-bottom: 6.66vmax;
}

#left_bar {
    width: 19.16vw;
}

#right_bar {
    width: 60.83vw;
}

.box {
    border-radius: 0.33vw;
    background-color: #fff;
}

#load_more {
    border: none;
    width: 100%;
    border-radius: 0.33vw;
    color: #fff;
    background-color: #b8c6c7;
    font-size: 1.25vmax;
    padding-top: 1.66vmax;
    padding-bottom: 1.66vmax;
    margin-top: 1.66vmax;
}

#load_more:hover {
    transform: scale(0.95);
}

.product {
    flex-flow: column nowrap;
    text-decoration: none;
    padding-bottom: 2vw;
    width: 19.16vw;
    height: 25vmax;
    margin-bottom: 1.66vmax;
    margin-right: 1.66vw;
}

.product:nth-of-type(3n) {
    margin-right: 0;
}

.img_product {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    margin-bottom: 2.08vmax;
}

.img_product img {
    height: 100%;
    width: auto;
    min-width: 100%;
}

.product h2 {
    font-size: 1.25vmax;
    line-height: 1.5vmax;
    text-align: center;
    color: #3a3d3f;
    margin-bottom: 0.83vmax;
    font-weight: bold;
}

.product p:first-of-type {
    text-align: center;
    font-style: italic;
    color: #838c8e;
    font-size: 1vmax;
}

.price {
    color: #3a3d3f;
    font-size: 1.8vmax;
    font-weight: bold;
    margin-top: 0.83vmax;
}


.list_box {
    width: 100%;
}

.title_box {
    width: 100%;
    height: 4.16vmax;
    padding: 0 1.66vmax;
    border-bottom: #eee 1px solid;
    cursor: pointer;
}

.title_box p {
    color: #3c3d41;
    font-size: 0.91vmax;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    font-weight: bold;
}

.list_link {
    background-color: #838d8f;
    padding: 1.66vmax;
}

.list_link a {
    color: #daddde;
    font-size: 1.08vmax;
    display: block;
    width: 100%;
}

.list_link li {
    margin-bottom: 1.25vmax;
}

.list_link a:hover {
    color: #fff;
}

.list_link li:last-of-type {
    padding-bottom: 0;
}

footer {
    width: 100%;
    min-height: 11.50vmax;
    background-color: #fff;
    padding-top: 5vmax;
    padding-bottom: 5vmax;
}

.login_form {
    width: 81.66vw;
    position:relative;
}

#footer_nav a {
    text-transform: uppercase;
    color: #3c3d41;
    font-weight: bold;
    font-size: 1vmax;
    margin-right: 2vmax;
}

#footer_nav li:last-of-type{
    margin-right: 0;
}
#footer_nav a:hover{
    text-decoration: underline;
}
.login_form {
    width: 20vw;
    padding-top: 8vw;
    padding-bottom: 0;
    height: 30%;
}

#sign_btn {
    width: 20vw;
    border: 1px solid #86ce8e;
    /*font-size: 1.23vmax;*/
    background-color: #86ce8e;
    color: #fff;
}

#sign_btn:hover {
    background-color: #fff;
    color: #86ce8e;
}

.admin_table{
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.admin_table th,
.admin_table td {
    padding: 0.45rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.success-template {text-align: center;}